* {
  box-sizing: border-box;
}

dl,
ol,
p,
ul {
  margin: 0;
}

.is-disabled {
  pointer-events: none;
  cursor: none;
}

body {
  overflow-x: hidden;
}

.d-flex {
  display: flex !important;
}

.text-center {
  text-align: center;
}

.d-block {
  display: block !important;
}

.m-auto {
  margin: auto !important;
}

.no-scroll {
  overflow: hidden;
}
