html
  head
    title Javascript Playground
    link(href="https://fonts.googleapis.com/css?family=Source+Code+Pro:300,400,500,700&display=swap")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
  body
    .container
      .row
        .col-12
          .d-block.m-auto
            h1.fnt-700 Javascript Concepts

    include ./courses/gettingintojs.pug



